.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-T5M05e2JLY7t);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-GqDutC8aTY7b);
  font-family: "Inter", sans-serif;
  font-size: var(--token-s42vXa_C_59i);
  line-height: var(--token-0lSlw82d2_si);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-axUVdHfzxMTW);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-LXqrf9k7t2Ew);
  outline-offset: 1px;
  outline-color: var(--token-T5M05e2JLY7t);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-kjhUtFtjMQ-o);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-zcpHM1WOuHBc);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-4u6G18TOSKXm);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-6UcNiggiX8hU);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jXAGtFbUQTDX);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-7qD5WBZtyc_D);
  font-size: var(--token-cCa0NLzqyB_m);
  column-gap: var(--token-LXqrf9k7t2Ew);
  row-gap: 0px;
  border-radius: var(--token-FlUjd-8upyec);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-cCa0NLzqyB_m);
  line-height: var(--token-7qD5WBZtyc_D);
  column-gap: var(--token-FlUjd-8upyec);
  row-gap: 0px;
  border-radius: var(--token-FlUjd-8upyec);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-lMa-Iz5sYPdn);
  line-height: var(--token--fKzaE7BHkOL);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-lMa-Iz5sYPdn);
  line-height: var(--token--fKzaE7BHkOL);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-5U0T0AxVXRqy);
  border-radius: var(--token-axUVdHfzxMTW);
}
.softBackgroundcolor_neutral {
  background: var(--token-yHSVFNWnPPJY);
}
.softBackgroundcolor_muted {
  background: var(--token-06-AC02VA395);
}
.softBackgroundcolor_success {
  background: var(--token-exy6JdeaGu88);
}
.softBackgroundcolor_warning {
  background: var(--token-i61CM-6uCpgi);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_HMbZttz7Lgu);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-axUVdHfzxMTW);
  border: 0px solid var(--token-6caPVy01iLvo);
}
.bordercolor_neutral {
  border-color: var(--token-VnUWFBJVtpKi);
}
.bordercolor_muted {
  border-color: var(--token--Dii6CoeeMuF);
}
.bordercolor_success {
  border-color: var(--token-Zz0zN5r2HRvD);
}
.bordercolor_warning {
  border-color: var(--token-u9yHYgOuI9eM);
}
.bordercolor_errorDestructive {
  border-color: var(--token-rgtHSc9a2NXT);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-axUVdHfzxMTW);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-f7slmp3PAkoL);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-XfpMGGctyi0d);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-Jmc7Pi2VLRYb);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__f194M {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-axUVdHfzxMTW) var(--token-4u5o8ks9Fp8w);
}
.freeBox__f194M > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-axUVdHfzxMTW));
  width: calc(100% + var(--token-axUVdHfzxMTW));
}
.freeBox__f194M > :global(.__wab_flex-container) > *,
.freeBox__f194M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f194M > :global(.__wab_flex-container) > picture > img,
.freeBox__f194M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-axUVdHfzxMTW);
}
.freeBoxsize_extraSmall__f194MrIPgC {
  padding: var(--token-FlUjd-8upyec) var(--token-axUVdHfzxMTW);
}
.freeBoxsize_small__f194MvliDo {
  padding: var(--token-axUVdHfzxMTW) var(--token-GqDutC8aTY7b);
}
.freeBoxsize_large__f194MwlHjZ {
  padding-top: var(--token-FlUjd-8upyec);
  padding-bottom: var(--token-FlUjd-8upyec);
}
.freeBoxsize_extraLarge__f194Mz81Z6 {
  padding-left: var(--token-kfNTZfR7m2fy);
  padding-right: var(--token-kfNTZfR7m2fy);
}
.freeBoxroundedFull__f194Mf72Cx {
  padding-right: var(--token-kfNTZfR7m2fy);
  padding-left: var(--token-kfNTZfR7m2fy);
}
.freeBox__hix1B {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__hix1BvVj65 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ZRtZSVr6cW-U);
}
.slotTargetStartcolor_neutral {
  color: var(--token-I7n8q2g3o5zT);
}
.slotTargetStartcolor_muted {
  color: var(--token-Od2SBF-UBjBw);
}
.slotTargetStartcolor_success {
  color: var(--token-REwmzso2eBQK);
}
.slotTargetStartcolor_warning {
  color: var(--token-H-UuHYZo7LwG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Pu_RzFn6-Jgy);
}
.slotTargetStarttype_soft {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetStarttype_bordered {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-cCa0NLzqyB_m);
}
.slotTargetStartsize_small {
  font-size: var(--token-cCa0NLzqyB_m);
}
.slotTargetStartsize_large {
  font-size: var(--token-lMa-Iz5sYPdn);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-lMa-Iz5sYPdn);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-knuds62L-VzD);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-knuds62L-VzD);
}
.svg__hhe6U {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ZRtZSVr6cW-U);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-I7n8q2g3o5zT);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Od2SBF-UBjBw);
}
.slotTargetLabelcolor_success {
  color: var(--token-REwmzso2eBQK);
}
.slotTargetLabelcolor_warning {
  color: var(--token-H-UuHYZo7LwG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Pu_RzFn6-Jgy);
}
.slotTargetLabeltype_soft {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetLabeltype_bordered {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-knuds62L-VzD);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-knuds62L-VzD);
}
.text___0Zed4 {
  white-space: pre;
}
.freeBox__iIbj {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__iIbjC3BVu {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ZRtZSVr6cW-U);
}
.slotTargetEndcolor_neutral {
  color: var(--token-I7n8q2g3o5zT);
}
.slotTargetEndcolor_muted {
  color: var(--token-Od2SBF-UBjBw);
}
.slotTargetEndcolor_success {
  color: var(--token-REwmzso2eBQK);
}
.slotTargetEndcolor_warning {
  color: var(--token-H-UuHYZo7LwG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Pu_RzFn6-Jgy);
}
.slotTargetEndtype_soft {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetEndtype_bordered {
  color: var(--token-srmeeO3Aq70O);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-cCa0NLzqyB_m);
}
.slotTargetEndsize_small {
  font-size: var(--token-cCa0NLzqyB_m);
}
.slotTargetEndsize_large {
  font-size: var(--token-lMa-Iz5sYPdn);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-lMa-Iz5sYPdn);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-weskCGUe0LG-);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-kM4vjbcJf28v);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-N9UqTNq64Ldw);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-BoLRo56Ttbho);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-knuds62L-VzD);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-knuds62L-VzD);
}
.svg__acs1X {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
