.root:global(.__wab_instance) {
  position: relative;
  cursor: pointer;
  color: var(--token-KZx2DUqLQtOQ);
  font-family: var(--token-JZ-mADjlXsRY);
  font-size: var(--token-s42vXa_C_59i);
  line-height: var(--token-0lSlw82d2_si);
  outline-style: none;
  border-radius: var(--token-axUVdHfzxMTW);
}
.root[data-hovered]:global(.__wab_instance) {
  background: var(--token-06-AC02VA395);
}
.root[data-selected]:global(.__wab_instance) {
  background: var(--token-5U0T0AxVXRqy);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-LXqrf9k7t2Ew);
  outline-color: var(--token-T5M05e2JLY7t);
  outline-offset: 1px;
}
.freeBox___514Mg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-GqDutC8aTY7b) var(--token-4u5o8ks9Fp8w);
}
.freeBox___514Mg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
  margin-top: calc(0px - var(--token-LXqrf9k7t2Ew));
  height: calc(100% + var(--token-LXqrf9k7t2Ew));
}
.freeBox___514Mg > :global(.__wab_flex-container) > *,
.freeBox___514Mg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___514Mg > :global(.__wab_flex-container) > picture > img,
.freeBox___514Mg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
  margin-top: var(--token-LXqrf9k7t2Ew);
}
.freeBox__e0GEm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__t12V8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-9RAsiUKZDixW);
  min-width: 0;
}
