.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-2CSQnJhzC_sd);
  position: relative;
  overflow: auto;
  box-shadow: 0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token--Dii6CoeeMuF);
  border-radius: var(--token-4u5o8ks9Fp8w);
  padding: var(--token-axUVdHfzxMTW);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection___8Fuk6:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
