.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #e2e2e233;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  border-radius: 5px;
  padding: 8px;
}
.freeBox__dQe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.avatar:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  width: 3rem;
  height: 3rem;
  flex-shrink: 0;
}
.freeBox__ai8Vh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 5px 8px 8px;
}
.freeBox__qvLdJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__gvniq {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
}
.text__cycLl {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 500;
}
.text__gxSb {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
}
