.ariaComboBox:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  row-gap: var(--token-FlUjd-8upyec);
}
.ariaComboBox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.freeBox___032A2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
}
.ariaInput:global(.__wab_instance) {
  box-shadow: inset 0px 0px 0px 1px var(--token-RjTYFjyU6aIl);
  width: 100%;
  font-size: var(--token-s42vXa_C_59i);
  line-height: var(--token-0lSlw82d2_si);
  outline-style: none;
  min-width: 0;
  border-radius: var(--token-axUVdHfzxMTW);
  padding: var(--token-axUVdHfzxMTW) var(--token-SbJGPW9IjrSd)
    var(--token-axUVdHfzxMTW) var(--token-4u5o8ks9Fp8w);
  border-style: none;
}
.ariaButton:global(.__wab_instance) {
  box-sizing: border-box;
  cursor: pointer;
  object-fit: cover;
  background: none;
  position: absolute;
  right: 0;
  width: var(--token-SbJGPW9IjrSd);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--token-SbJGPW9IjrSd);
  flex-shrink: 0;
  border-radius: var(--token-axUVdHfzxMTW);
  padding: var(--token-axUVdHfzxMTW) var(--token-4u5o8ks9Fp8w);
  border: 1px none black;
}
.freeBox__jiLs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.svg {
  width: var(--token-v_XNMo5BlXKF);
  height: var(--token-v_XNMo5BlXKF);
  flex-shrink: 0;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.text__ynAUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
